<div class="backdrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Our Table</h5>
                <button type="button" class="close" (click)="onClose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Rows of bill -->
                <div *ngFor="let product of totalProducts" class="row product mb-2 text-muted">
                    <div class="col-6">{{ product.title }}</div>
                    <div class="col-6 text-right">{{ product.price | number : '1.2-2' }}$</div>
                    <p *ngIf="product.note" class="col-12 note" style="max-width: fit-content;"><fa-icon class="icon" [icon]="faStarOfLife"></fa-icon>{{product.note}}</p>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>

